.skills {
    .skills-pane {
        @include p-reset;

        h1,
        h4,
        h6 {
            @include p-reset;
            line-height: 1;
            display: flex;
            align-items: center;
        }

        h1 {
            font-family: $serif;
            border: none;
            color: var(--primary);
            text-align: center;
            justify-content: center;
        }

        h6,
        .click-stat-level {
            padding: 2px 4px;
            border-radius: 2px;
            box-shadow: inset 0 0 0 1px rgba(black, 0.5);
            @include micro;
            color: white;
            @include flex-center;
            cursor: pointer;
        }

        .core-title {
            width: 100%;
            text-align: left;
            background: url('../assets/sheet/stroke3.svg') left bottom no-repeat;
            @include p-reset;
            margin-left: 0;
            padding: 0;
            padding-top: 10px;
            padding-left: 12px;
            height: 43px;
            border: none;
            color: white;
            font-family: $serif;
        }
        .skills-list,
        .lores-list {
            list-style: none;
            @include p-reset;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 12px;
            align-items: center;
            margin-bottom: 2em;

            .skill {
                border-style: double;
                border-image-slice: 11;
                border-image-width: 14px;
                border-image-repeat: repeat;
                border-image-source: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='33' height='33' overflow='scroll'%3E%3Cstyle%3E.st1%7Bstroke:%23231f20;stroke-miterlimit:10%7D.st1,.st2%7Bfill:none%7D%3C/style%3E%3Cg opacity='.25'%3E%3Cpath class='st1' d='M.5 20v-7'/%3E%3Cpath class='st2' d='M13 20v-7'/%3E%3Cpath class='st1' d='M13 .5h7'/%3E%3Cpath class='st2' d='M13 13h7'/%3E%3Cpath class='st1' d='M32.5 13v7'/%3E%3Cpath class='st2' d='M20 13v7'/%3E%3Cpath class='st1' d='M20 32.5h-7'/%3E%3Cpath class='st2' d='M20 20h-7'/%3E%3Cg%3E%3Cpath class='st1' d='M.5.5h3.1v3.1H.5zM3.6 3.6h3.1v3.1H3.6zM6.8 3.6h3.1v3.1H6.8zM3.6 6.8h3.1v3.1H3.6zM3.6 6.8H.5V13M13 .5H6.8v3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4.5h3.1v3.1h-3.1zM26.3 3.6h3.1v3.1h-3.1zM26.3 6.8h3.1v3.1h-3.1zM23.1 3.6h3.1v3.1h-3.1zM26.3 3.6V.5H20'/%3E%3Cpath class='st1' d='M32.5 13V6.8h-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M29.4 29.4h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M26.3 26.3h3.1v3.1h-3.1zM23.1 26.3h3.1v3.1h-3.1zM26.3 23.1h3.1v3.1h-3.1z'/%3E%3Cpath class='st1' d='M29.4 26.3h3.1V20M20 32.5h6.3v-3.1'/%3E%3C/g%3E%3Cg%3E%3Cpath class='st1' d='M.5 29.4h3.1v3.1H.5zM3.6 26.3h3.1v3.1H3.6zM3.6 23.1h3.1v3.1H3.6zM6.8 26.3h3.1v3.1H6.8z'/%3E%3Cpath class='st1' d='M6.8 29.4v3.1H13M.5 20v6.3h3.1'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                padding: 8px 11px 8px 2px;
                display: grid;
                grid:
                    'score name btn' min-content
                    / 42px 2fr 1fr;
                align-items: center;

                .skill-score {
                    grid-area: score;
                    margin-right: 4px;
                    margin-top: 2px;
                }

                .skill-name {
                    grid-area: name;
                    cursor: pointer;
                    &:hover {
                        color: var(--primary);
                        text-shadow: 0 0 2px white;
                        text-decoration: underline;
                    }
                }

                .skill-prof {
                    grid-area: prof;
                    width: min-content;
                    .click-stat-level {
                        background: var(--secondary);
                        .fas {
                            display: none;
                        }
                    }

                    span[value='0'] {
                        background: var(--light);
                        box-shadow: inset 0 0 0 1px rgba(black, 0.25), inset 0 0 0 2px rgba(white, 0.1);
                    }
                }

                .button-group {
                    grid-area: btn;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    flex-wrap: wrap;

                    h6 {
                        margin: 1px 0;
                        background: var(--sub);
                        box-shadow: inset 0 0 0 1px rgba(black, 0.2);

                        &:hover {
                            background: var(--primary);
                        }
                    }
                }
            }
        }

        .lores-list {
            .skill {
                grid:
                    'score name btn' min-content
                    / 42px 2fr 1fr;
                padding: 8px 11px 8px 6px;

                .skill-score {
                    margin-right: 0;
                }

                .skill-name {
                    input {
                        color: var(--body) !important;
                        border-bottom: 1px solid var(--sub);
                        margin-right: 4px;
                        font-weight: 600;
                        &:hover {
                            border: 1px solid var(--sub);
                        }
                    }
                }
                .button-group {
                    grid-area: btn;

                    .item-controls {
                        font-size: 10px;
                        margin-top: 1px;
                    }
                }
            }
        }

        .lore-header {
            .item-controls {
                white-space: nowrap;
                color: white;
                @include micro;

                .item-control {
                    padding: 4px 8px;
                    background: var(--secondary);
                    font-size: 10px;
                    border-radius: 2px;
                }
            }
        }
    }
}
